.Home-body{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 237, 231);
    height: 100%;

}

.home-header{
    width: 90%;
    position: fixed;
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border-radius: 4px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(164, 161, 157);
}
a{
    font-size: 12px;
    color: black;
    text-transform:uppercase;
    transition: 1s;
    
    // text-decoration: double;
}
a:hover{
    color: black;
    text-transform:  uppercase;
    transition: 1s;
    text-decoration: dashed;
}
.logo-icon{
    width: 20px;
}
.try{
    color: aliceblue;
}
.try:hover{
    color: rgba(255, 221, 0, 0.841);
    
}